 p{
    border: 2px solid yellow ;
 }
 .red-border
 {
    background-color: aquamarine;
    border: 5px solid red;
 }
 #lorem-text{
    font-weight: bold;
 }
 *{
    font-style: italic;
 }