*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    background-color:black;
    position: fixed;
    top: 0%;
}
ul{
    list-style: none;
    text-align: end;
    padding: 30px;
}
li{
    color: white;
    display: inline;
    font-size: 1.6 rem;
    padding-inline: 20px;
}
.hero-left{
    width: 60%;
    margin-top: 20vh;
    margin-left: 10vw;
}
.heading{
    font-size: 3rem;
   
}
.subheading{
    margin-top: 20px;
}
.explore{
    margin-top: 20px;
    padding: 20px 60px;
}

.fg{
    width: 30vw;
   position: absolute;
   top: 34%;
   left: 70%;

}
footer{
    height: 200vh;
}